div.wrapper {
    > div.box {
        padding: 1em;
        margin-bottom: 1em;
        background-color: white;
        > h1 {
            margin-bottom: 1em;
        }
        > div.highlights {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            @media (max-width: 991px) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                gap: 0.75em;
            }
            > label {
                @media (max-width: 497px) {
                    display: grid;
                    grid-template-columns: 1fr 1em 2em;
                }
                > span.title {
                    width: 357px;
                    display: inline-block;
                    @media (max-width: 536px) {
                        width: auto;
                        // word-break: break-all;
                    }
                }
                > span.char {
                    margin: 0 10px;
                }
                > span.val {
                }
            }
            > label:nth-of-type(2) {
                > span.title {
                }
                > span.char {
                }
                > span.val {
                }
            }
            > label:nth-of-type(3) {
                > span.title {
                }
                > span.char {
                }
                > span.val {
                }
            }
            > label:nth-of-type(4) {
                > span.title {
                }
                > span.char {
                }
                > span.val {
                }
            }
        }
    }
    > div.box.lower {
        > div.table {
            > ng-container:nth-of-type(1) {
            }
            > ng-container:nth-of-type(2) {
            }
            > table {
                > tbody {
                    > tr:nth-of-type(1) {
                        > th:nth-of-type(1) {
                        }
                        > td:nth-of-type(1) {
                        }
                        > th:nth-of-type(2) {
                        }
                        > td:nth-of-type(2) {
                        }
                    }
                    > tr:nth-of-type(2) {
                    }
                    > tr:nth-of-type(3) {
                    }
                }
            }
            > mat-paginator {
            }
        }
    }
}
