<div class="wrapper">
    <div class="box upper">
        <h1>Dashboard</h1>
        <div class="highlights">
            <label class="in">
                <label class="title">
                    <span>Vehicle count</span>
                    <mat-icon>local_parking</mat-icon>
                </label>
                <span class="char">:</span>
                <span class="val" (click)="ShowStat()">50</span>
            </label>
            <label class="out">
                <label class="title">
                    <span>Vehicle count</span>
                    <mat-icon>arrow_outward</mat-icon>
                </label>
                <span class="char">:</span>
                <span class="val" (click)="ShowStat()">10</span>
            </label>
            <label class="tot">
                <label class="title">
                    <span>Vehicle count</span>
                    <mat-icon>functions</mat-icon>
                </label>
                <span class="char">:</span>
                <span class="val" (click)="ShowStat()">60</span>
            </label>
            <label class="fre">
                <label class="title">
                    <span>Vehicle count</span>
                    <mat-icon>autorenew</mat-icon>
                </label>
                <span class="char">:</span>
                <span class="val" (click)="ShowStat()">4</span>
            </label>
        </div>
    </div>
    <div class="box lower">
        <div class="t">
            <app-table [data]="(helper.data$|async)||[]" [cols]="displayedColumns"
                (rowClickEvent)="ShowDetail($event)"></app-table>
        </div>
    </div>
</div>
<ng-template #det let-data>
    <app-details [key]="data.phone" [isKeyMode]="false"></app-details>
</ng-template>

<ng-template #stat>
    <div style="padding: 1em;">
        <app-table [data]="(helper.data$|async)||[]" [cols]="displayedColumns"></app-table>
    </div>
</ng-template>
<!--

    1. pending v
2. checked out
3. 1+2
4. frequent vehicle -> more than 5
-->