div.highlights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    @media (max-width: 991px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0.75em;
    }
    > label {
        background-color: white;
        padding: 1em;
        display: grid;
        grid-template-columns: 270px 2em 1fr;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        @media (max-width: 520px) {
            grid-template-columns: 1fr 2em 1fr;
            gap: 15px;
        }
        &.in {
            background-color: rgb(252, 66, 66);
        }
        &.out {
            background-color: rgb(54, 206, 54);
        }
        &.tot {
            background-color: rgb(164, 162, 162);
        }
        &.fre {
            background-color: rgb(249, 249, 100);
        }
        > label.title {
            display: inline-grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 160px 1fr;
            @media (max-width: 539px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (max-width: 520px) {
                gap: 15px;
            }
            > mat-icon {
                transform: scale(1.5);
            }
        }
        > span.char {
            margin: 0 10px;
        }
        > span.val {
            font-size: 1.3rem;
            text-decoration: underline dotted #861f41;
            cursor: pointer;
        }
    }
}
