<div class="wrapper">
    <div class="reg-box">
        <h1>Registration</h1>
        <form *ngIf="helper.fGroup" [formGroup]="helper.fGroup" (ngSubmit)="helper.Save()">
            <div class="row">
                <label>
                    <span>Photo:</span>
                    <div class="img">
                        <img (click)="ShowPhoto()"
                            src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ_Y3DVd2Daj0zRYMiVMh8XE9JMLxmERe02XDJG4t399_wYjxGb">
                        <!-- <span>No Photo uploaded</span> -->
                    </div>
                </label>
                <button mat-fab color="primary" type="button" (click)="cam.click()">
                    <mat-icon>photo_camera</mat-icon>
                </button>
                <input style="display: none;" type="file" capture="camera" accept="image/*" #cam (change)="helper.OnFileSelected($event)">
            </div>
            <div class="row"><label><span>Mobile Number:</span><input formControlName="mobile" type="tel"></label>
            </div>
            <div class="row"><label><span>Vehicle Number:</span><input formControlName="vehicle" type="text"></label>
            </div>
            <div class="row">
                <label>
                    <span>QR Code:</span>
                    <div class="img">
                        <img (click)="ShowQR()"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png">
                        <!-- <span>QR code missing</span> -->
                    </div>
                </label>
            </div>
            <div class="row">
                <button mat-raised-button type="submit" color="primary">Save</button>
                <button mat-raised-button type="button">Cancel</button>
            </div>
        </form>
    </div>
</div>

<ng-template #person>
    <img class="pic-fs"
        src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ_Y3DVd2Daj0zRYMiVMh8XE9JMLxmERe02XDJG4t399_wYjxGb">
</ng-template>

<ng-template #qr>
    <img class="pic-fs"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png">
</ng-template>