<div class="wrapper">
    <div class="reg-box">
        <h1>Registration</h1>
        <form *ngIf="helper.fGroup" [formGroup]="helper.fGroup" (ngSubmit)="helper.Save()">
            <div class="row pic">
                <label>
                    <span>Photo:</span>
                    <div class="img">
                        <img (click)="ShowPhoto()" *ngIf="(helper.Photo$|async)"
                            [src]="(helper.Photo$|async)|safeimage">
                        <span *ngIf="!(helper.Photo$|async)">No Photo uploaded</span>
                    </div>
                </label>
                <button mat-fab color="primary" type="button" (click)="cam.click()">
                    <mat-icon>photo_camera</mat-icon>
                </button>
                <input style="display: none;" type="file" capture="camera" accept="image/*" #cam
                    (change)="helper.OnFileSelected($event)">
            </div>
            <div class="row"><label><span>Mobile Number:</span><input formControlName="mobile" type="tel"></label>
            </div>
            <div class="row"><label><span>Vehicle Number:</span><input formControlName="vehicle" type="text"></label>
            </div>
            <div class="row pic">
                <label>
                    <span>QR Code:</span>
                    <div class="img">
                        <img (click)="ShowQR()" *ngIf="(helper.QR$|async)" [src]="(helper.QR$|async)|safeimage">
                        <span *ngIf="!(helper.QR$|async)">QR code missing</span>
                    </div>
                </label>
                <button mat-raised-button (click)="helper.ShowScan()" color="primary" type="button">
                    Scan QR Code
                </button>
            </div>
            <div class="row">
                <button mat-raised-button type="submit" color="primary">Save</button>
                <button mat-raised-button type="button">Cancel</button>
            </div>
        </form>
    </div>
</div>

<ng-template #person>
    <img class="pic-fs" [src]="(helper.Photo$|async)|safeimage">
</ng-template>

<ng-template #qr>
    <img class="pic-fs" [src]="(helper.QR$|async)|safeimage">
</ng-template>