div.wrapper {
    min-height: calc(100vh - var(--mat-toolbar-standard-height) - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    > div.own {
        background-color: white;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
        padding: 1.5em;
        > h1 {
            margin-bottom: 1em;
        }
        > div.row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
        }
    }
    > div.other {
        background-color: white;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    }
}
